{
    "extends": [
        "standard"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "babelrc": false,
            "configFile": false,
            "presets": ["@babel/preset-env"]
        }
    },
    "rules": {
        "comma-dangle": "off",
        "semi": [0, "always"],
        "space-before-function-paren": "off",
        "eqeqeq": "off"
    },
    "ignorePatterns": [
        "./dist/*"
    ]
}