extends app

block TIDORY
  s_t3
    #app
      //- Using Vue Component
      app(title="[##_title_##]")
    //- #__tidory
    //-   include views/Header

  style.
    #app {
      height: 100vh;
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
    }
