extends app

block TIDORY
  script
    include /assets/category.js

  s_t3
    #category

    #app
      script.
        document.addEventListener("DOMContentLoaded", function (event) { 
          getCategory();

          //- categoryData = document.getElementById('category').innerHTML;
          //- console.log(categoryData);
          //- $('#app').attr('category', categoryData);
        });

      //- Using Vue Component
      app
      //- app(category= #app(category))

  style.
    #category {
      display: none;
    }
    #app {
      height: 100vh;
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: rgba(144, 200, 172, 0.15);
    }
