extends app

block TIDORY
  script
    include /assets/category.js

  s_t3
    #app
      - var test = 'haguri';
      //- - var tmp = #{getCategory()};
      //- - console.log(categoryList)

      //- Using Vue Component
      app(category=tmp test=test)

  style.
    #app {
      height: 100vh;
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
    }
