extends app

block TIDORY
  script
    include /assets/category.js

  s_t3
    #app
      //- script.
      //-   document.addEventListener("DOMContentLoaded", function (event) {
      //-     getCategory();
      //-   });

      //- Using Vue Component
      app(data-body-id="[##_body_id_##]")

  style.
    #app {
      height: 100vh;
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: rgba(144, 200, 172, 0.45);
    }
